body {margin:0;}

.containeur {
  height: auto;
  min-height: 50vw;
  background:white;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
}

.category {
  width: 25%;
  height: 200px;
}

.category:hover {
  background: #e74c3c;
}

.sub-category {
  z-index: 9999;
  top: 8%;
  left: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  flex-wrap:wrap;
  justify-content: space-around;
  margin: auto;
  overflow: auto;
}
.s-cat {
  background-color: blue;
  width: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  height: 210px;
}
.s-cat-container {
  z-index: 9999;
  top: 8%;
  left: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: white;
}

.auto{
  background-image: url(../images/automobile.jpeg);
}
#mecanique{
  background-image: url(../images/mecanique.png);

}
.astro{
  background-image: url(../images/astro.jpeg);
}

.category-auto {
    background-color: blue;
    width: 30%;
    height: 166px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.categories{
  width: 33%;
  height: auto;
  display: flex;
}
div .mecanique{
  width: 31%;
  margin: 0%;
  background-image: url("../images/mecanique.png");
  background-repeat: no-repeat;
  margin: 10px;
}