body {margin:0;}

.containeur {
  width:100%;
  margin: 2%;
  height: auto;
  min-height: 50vw;
  background:white;
  display: flex;
  flex-wrap:wrap;
}

.category {
  width: 25%;
  height: 200px;
}

.category:hover {
  background: #e74c3c;
}

.sub-category {
  z-index: 9999;
  top: 8%;
  left: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: white;
}

.category-auto {
  width: 33%;
  margin: 0%;
  background-image: url("../images/automobile.jpg");
  background-repeat: no-repeat;
}

.categories{
  width: 33%;
  height: auto;
  display: flex;
}
div .mecanique{
  width: 33%;
  margin: 0%;
  background-image: url("../images/mecanique.png");
  background-repeat: no-repeat;
}