body {margin:0;}

.containeur {
  height: auto;
  min-height: 50vw;
  background:white;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
}

.category {
  width: 25%;
  height: 200px;
}

.category:hover {
  background: #e74c3c;
}

.sub-category {
  z-index: 9999;
  top: 8%;
  left: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  flex-wrap:wrap;
  justify-content: space-around;
  margin: auto;
  overflow: auto;
}
.s-cat {
  background-color: blue;
  width: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  height: 210px;
}
.s-cat-container {
  z-index: 9999;
  top: 8%;
  left: 0;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: white;
}

.auto{
  background-image: url(../images/automobile.jpeg);
}
#mecanique{
  background-image: url(../images/mecanique.png);

}
.astro{
  background-image: url(../images/astro.jpeg);
}

.culture{
  background-image: url(../images/culture.jpeg);
}

.electronique{
  background-image: url(../images/electronique.jpeg);
}

.gastronomie{
  background-image: url(../images/gastronomie.jpeg);
}

.mode{
  background-image: url(../images/mode.jpeg);
}

.science{
  background-image: url(../images/science.jpeg);
}

.sports{
  background-image: url(../images/sports.jpeg);
}

.voyages{
  background-image: url(../images/voyages.jpeg);
}

.ans{
  background-image: url(../images/ans.jpeg);
}

.aviron{
  background-image: url(../images/aviron.jpeg);
}

.canoekayak{
  background-image: url(../images/canoekayak.jpeg);
}

.kitesurf{
  background-image: url(../images/kitesurf.jpeg);
}

.natation{
  background-image: url(../images/natation.jpeg);
}

.plongee{
  background-image: url(../images/plongee.jpeg);
}

.paddle{
  background-image: url(../images/paddle.jpeg);
}

.regate{
  background-image: url(../images/regate.jpeg);
}

.surf{
  background-image: url(../images/surf.jpeg);
}

.voile{
  background-image: url(../images/voile.jpeg);
}

.waterpolo{
  background-image: url(../images/waterpolo.jpeg);
}







.category-auto {
    background-color: blue;
    width: 30%;
    height: 166px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10px;
}

.categories{
  width: 33%;
  height: auto;
  display: flex;
}
div .mecanique{
  width: 31%;
  margin: 0%;
  background-image: url("../images/mecanique.png");
  background-repeat: no-repeat;
  margin: 10px;
}